<mat-card>
  <h2>Filters</h2>
  <section>
    <div class="title-block"><span class="title-text">Launch Year</span></div>
    <div class="row">
      <div
        class="col-6 margin-btm add-cent"
        *ngFor="let year of yearList; let i = index"
      >
        <span
          class="btn-texture"
          [class.active]="selectedIndex === i"
          (click)="applyFilterForYear(year, i)"
          >{{ year }}</span
        >
      </div>
    </div>
  </section>
  <section>
    <div class="title-block">
      <span class="title-text">Successful Launch</span>
    </div>
    <div class="row">
      <div class="col-6 margin-btm add-cent">
        <span
          class="btn-texture"
          [class.active]="islaunchTrue"
          (click)="applyFilterForLaunch(true)"
          >True</span
        >
      </div>
      <div class="col-6 margin-btm add-cent">
        <span
          class="btn-texture"
          [class.active]="isLaunchFalse"
          (click)="applyFilterForLaunch(false)"
          >False</span
        >
      </div>
    </div>
  </section>
  <section>
    <div class="title-block">
      <span class="title-text">Successful Landing</span>
    </div>
    <div class="row">
      <div class="col-6 margin-btm add-cent">
        <span
          class="btn-texture"
          [class.active]="islandTrue"
          (click)="applyFilterForLand(true)"
          >True</span
        >
      </div>
      <div class="col-6 margin-btm add-cent">
        <span
          class="btn-texture"
          [class.active]="isLandFalse"
          (click)="applyFilterForLand(false)"
          >False</span
        >
      </div>
    </div>
  </section>
</mat-card>
